[2018-12-02 18:00] rrousselGit opened #1 "Import documentations from the function to the class"
Classes allow documenting and annotating fields:

[code]

It would be interesting to import documentation from the function to the class, for a better integration in the IDE

[2018-12-02 18:01] rrousselGit opened #2 "Import parameters annotation from function to class"
Same as #1 but for annotations:

[code]

`@required` being a pretty common use case

[2018-12-02 21:45] #1 closed

[2018-12-02 21:45] #2 closed

[2018-12-06 10:57] rrousselGit opened #5 "Fields comments documentation"
Documentation for parameters is actually possible using the following syntax:

[code]

It would be interesting to extract these

[2018-12-06 17:52] rrousselGit commented on #5
Doesn't actually work, it was a mistake of mine

[2018-12-06 17:52] #5 closed

[2018-12-09 22:19] rrousselGit opened #6 "Color generated as dynamic"
Types coming from `dart:ui` are generated as `dynamic` instead of their real type.

[2018-12-09 23:05] rrousselGit commented on #6
Blocked by https://github.com/dart-lang/build/issues/733

[2018-12-10 23:05] #6 closed

[2018-12-11 21:36] rrousselGit opened #10 "Generic functions"
Generic functions should be supported

[code]

[2018-12-14 16:34] rrousselGit opened #11 "Support function callbacks and typedefs"

[2018-12-23 12:41] jaumard opened #12 "Support for hook"
I'm trying few of your packages :) and from what I understand for now it's not possible to use this one with flutter_hook right ?

The idea will be to use flutter_hook to also allow "stateful" widgets define as a function.

So basically instead of:
[code]
We'll have :
[code]
We don't gain that much in terms of code, but at least we have the same way to define widget across the project.

[2018-12-23 12:54] jaumard commented on #12
Ok just look at the code and saw it's already done :) just not documented so all good thanks!

[2018-12-23 12:54] #12 closed

[2018-12-31 01:01] rrousselGit opened #14 "Dart analyzer plugin for refactoring"
It is theoretically possible to make analyzer plugins using https://pub.dartlang.org/packages/analyzer_plugin

It could be interesting to make one so that renaming a function correctly renames the class too.

[2019-01-01 22:39] #11 closed

[2019-01-01 22:40] #10 closed

[2019-01-06 21:51] rrousselGit commented on #14
blocked by https://github.com/dart-lang/sdk/issues/35578

[2019-01-12 13:49] rrousselGit opened #15 "Evaluate Override operator== for widgets"
Widgets can benefit from overriding `operator==` for a performance gain.

We can potentially generate an operator== override on the widget class.

We should benchmark it first, to see the difference between:

_Tests should be running both with and without const constructors_
- No operator==
- operator== with `identical` check internally
- operator== testing fields only

[2019-01-12 23:02] rrousselGit opened #16 "Generate debugFillProperties override"
For a cool integration with the widget inspector, we can generate `debugFillProperties`.

- Duration should be displayed in ms, with the unit specified
- IntProperty/BoolProperty/... should be used accordingly
- Anything undefined, just for with DiagnosticProperty

[2019-01-13 01:00] #15 closed

[2019-01-13 01:20] rrousselGit opened #18 "Support default values"
[code]

[2019-01-13 14:22] #16 closed

[2019-01-13 14:25] rrousselGit opened #20 "Support generic functions as parameters"
Consider:

[code]

the expected result is:

[code]

actual behavior:

[code]

[2019-01-13 14:40] rrousselGit opened #21 "Allow disabling generations of some features."
It may be interesting to allow enabling/disabled the new `operator==` and `debugFillProperties` features.

We could allow changing the default behavior through `build.yaml`. And then have widget specific override using a custom decorator:

[code]

[2019-01-16 11:48] rrousselGit opened #23 "Invalid information in readme"
This should be changed to speak about `@hwidget` decorator instead

[2019-02-13 18:13] #21 closed

[2019-02-14 09:13] #23 closed

[2019-02-17 04:48] felipeaugustox opened #27 "requires SDK version >=2.1.0 <3.0.0, version solving failed on 0.5.0"
I tried to install the last version, however I get the following error:

[2019-02-17 06:26] rrousselGit commented on #27
You're using an old version of flutter/dart. Try updating your SDK

[2019-02-17 06:26] #27 closed

[2019-02-17 11:28] felipeaugustox commented on #27
I see, didn't know `-` meaning is pre-release version.

[2019-03-01 22:08] jaumard opened #30 "Bump analyzer needed to mobX compatibility"
[code]

[2019-03-04 15:51] aloisdeniel opened #31 "Error with @required arguments with not included types"
When using a parameter both `@required` and with a type not included in the Dart SDK (`Color` for example), the generation fails.

Example :
[code]

Produces :
[code]

This is due of the access of the first token of the `computedNode`.

[2019-03-04 17:05] rrousselGit commented on #31
I can't do much about it. It's the à blocker on the generator side

[2019-03-04 19:46] aloisdeniel commented on #31
You may can check what is the first token in the sequence... but since computedNode is deprecated it is not a long term solution infortunately.

[2019-03-04 19:55] rrousselGit commented on #31
That `computeNode` usage do not aim at being a long-term solution, so I'm fine with a deprecated function that barely fixes the problem.

It just handles the most common usage.

[2019-03-05 17:18] aloisdeniel commented on #31
A potential solution could be to check if the node is an [AnnotatedNode](https://pub.dartlang.org/documentation/analyzer/0.30.0+3/analyzer.dart.ast.ast/AnnotatedNode-class.html) and if so use `visitChildren` to get the declared identifier.

[2019-03-05 17:20] rrousselGit commented on #31
How so? We're using `computeNode` when the analyzer is unable to resolve nodes.

[2019-03-05 17:42] aloisdeniel commented on #31
Hum, only when the **element's type** is undefined, not the element itself.

[code]

We may here try to get the annotation associated with `element` before accessing its first token.

I will try some experiments as soon as I get the time to.

[2019-03-20 18:06] twistedinferno commented on #30
Hi Remi, is this on your radar at all, I have a similar package conflict with analyzer (I'm finally back using flutter again!)

[2019-03-20 18:19] rrousselGit commented on #30
You can submit a PR of you want to.
I'm currently a bit tired to be honest

[2019-03-21 11:17] twistedinferno commented on #30
:+1:  no problem, I should have time tomorrow.  (a walk in the countryside is a good refresh, btw, many thanks for your talk in London)

[2019-04-02 16:08] twistedinferno commented on #30
Apologies for the delay, I just tried to do this now.  I cloned the repository locally, made the changes, created a new branch locally, when publishing the branch I get
Git: Permission to rrousselGit/functional_widget.git denied to twistedinferno.
Is this the right approach, is it as simple as requiring permission?
Cheers

[2019-04-02 16:09] rrousselGit commented on #30
You must fork the project instead then make a pull request

[2019-04-02 16:10] twistedinferno commented on #30
ok!

[2019-04-02 16:35] twistedinferno commented on #30
done, btw I have my project referenced to a path version of this project so I can continue now without re-publishing the package

[2019-04-03 17:00] twistedinferno commented on #30
Hi Remi, I thought I had it working yesterday but I think I didn't properly pull both functional_widget and my dart package that uses another version of analyzer into the project.  I'm getting the following message in my flutter project that references both `functional_widget` and another project that uses an updated version of analyzer.  I'm not getting any compile issues and I can't see where an

[2019-04-04 09:53] twistedinferno commented on #30
Hi Remi @rrousselGit, second attempt and thanks to help from natebosch it compiles my code too so I can continue with this local version and be happy.  There is a problem with the CI build that I couldn't understand so the pull request checks have failed.  If you can spot anything and want me to make a change let me know.  Cheers

[2019-04-04 10:18] rrousselGit commented on #30
Sure, I'll take a look as soon as I can :)

[2019-04-04 10:20] rrousselGit commented on #30
The pull request issue is that there's a file (findBeginToken.dart) that isn't correctly formated

[2019-04-04 11:12] twistedinferno commented on #30
it seems ok in vs code, I haven't used travis ci before and couldn't find the failure message.  I've done alt + shft + f vs code and the file is the same.  Can you see what the formatting problem is?  findBeginToken.dart contains a single function that does the same as the deprecated computeNode

[2019-04-04 11:15] twistedinferno commented on #30
There was no new line after the function body, I doubt that was the problem but I've just pushed again just in case

[2019-04-04 11:26] twistedinferno commented on #30
ha, it was that!

[2019-04-11 08:56] tvhnet2014 opened #33 "Support for class functions"
My idea is to make functional_widget support for functions inside class as well as class inheritance and function overriding.
[code]

[2019-04-11 09:11] rrousselGit commented on #33
What is the expected behavior in that situation?

I don't understand what should be generated.

[2019-04-12 14:45] rrousselGit opened #34 "Support duration in debugFillProperties"

[2019-04-13 03:43] rrousselGit commented on #30
Should be good to go.

[2019-04-13 03:43] #30 closed

[2019-04-28 18:15] rrousselGit commented on #33
In the absence of an answer, I'll close this for now. Feel free to reopen if you can provide further information on the desired behavior.

[2019-04-28 18:15] #33 closed

[2019-05-06 11:57] rrousselGit commented on #31
Closing this, since I cannot do anything.

As a workaround you may use a custom object:

[code]

and send it to the generator:

[code]

This will correctly build.

[2019-05-06 11:57] #31 closed

[2019-05-16 01:02] shanno29 commented on #20
Any progress on this bug? I love your library it makes flutter alot more fun to use!

[2019-05-18 19:37] rrousselGit commented on #20
Sorry for the delay. Here it is!

[2019-05-18 20:01] #20 closed

[2019-06-05 14:43] NourEldinShobier opened #37 "Question"
Is it possible to use interfaces with fucntional widgets ?

[2019-06-05 15:02] rrousselGit commented on #37
Hello!

Can you clarify? I don't understand how that would work.

[2019-06-05 17:34] NourEldinShobier commented on #37
I'm really sorry, i meant interfaces
example:
[code]

[2019-06-05 17:39] rrousselGit commented on #37
That's not possible no. A single function is not enough to handle such complex use-case.

[2019-06-05 17:58] NourEldinShobier commented on #37
Thanks a lot.

[2019-06-05 18:07] #37 closed

[2019-06-14 07:27] NarHakobyan commented on #30
have you merged it?

[2019-06-14 07:32] rrousselGit commented on #30
Yes

[2019-06-16 21:00] PavelPZ opened #38 "Allow using functional_widget for flutter_web?"
I tried both:
[code]
[code]

without success.

[2019-06-18 20:14] PavelPZ commented on #38
### for json_serializable / json_annotation:

**flutter pub run build_runner watch** generates correct ```json.g.dart``` file for

[code]

### for functional_widget / functional_widget_annotation

and
[code]
is **widget.g.dart** file missing.

[2019-06-18 20:35] PavelPZ commented on #38
**manyTimes** with lower first letter solves the problem (I am new in flutter).

[code]

[2019-06-18 20:35] #38 closed

[2019-07-17 14:44] slyedoc opened #40 "Builder vs Build_runner"
I am returning to flutter and I am looking to uses the "builders" option in pubspec.yaml instead of build_runner.  In the readme, it says that method should work unless you're using an older version of flutter.  Have tried lastest stable, dev, and master (1.8.2) but as far as I can tell nothing uses this option and I can't find any documentation on this option after an hour of searching.  Going to

[2019-07-17 15:52] rrousselGit commented on #40
See https://github.com/rrousselGit/functional_widget/blob/master/functional_widget/example/pubspec.yaml

You can generate the sources using `flutter generate`, which is run automatically on `flutter run` and `flutter build`.

[2019-07-17 15:52] #40 closed

[2019-08-15 16:48] derolf opened #42 "Support hiding the "raw" functions"
It would be nice to decorate _example and generate Example so that users don't refer to _example by accident.

[2019-08-15 16:56] derolf opened #43 "VoidCallback parameter yields dynamic"
Example:

[code]

generates

[code]

resulting in error:

[code]

[2019-08-15 17:00] rrousselGit commented on #43
The issue is on https://github.com/dart-lang/build/issues/733. `functional_widget` cannot do anything about it, sadly.

[2019-08-15 17:01] rrousselGit commented on #42
You mean to write a private function and it'd generate a public class?

[2019-08-15 17:01] derolf commented on #42
Exactly.

[2019-08-15 17:15] rrousselGit commented on #42
It's an interesting idea. But then, how would peoples generate private classes?

[2019-08-15 17:45] derolf commented on #42
With two underscores 😂

Von meinem iPhone gesendet

[2019-08-15 21:09] derolf commented on #42
What about making it an option you can pass? (Remove leading underscore)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-16 15:42] derolf opened #44 "Propagate default parameters"
I am using some non-null default parameters. The default values disappear when using the functional widget.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-17 10:19] derolf commented on #43
I don't get what the actual problem is... because it works for other types...

However, a workaround is to declare `VoidCallback` in the same (original) file.

[2019-08-17 10:21] rrousselGit commented on #43
The issue is, voidcallback is originally defined in Flutter. Which code generators don't have access to.
So the type do not resolve

[2019-08-17 10:27] derolf commented on #43
Got it! Probably you should mention that in the docs...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-17 13:35] derolf commented on #43
Could this workaround work here as well? https://github.com/spkersten/dart_functional_data/issues/3#issuecomment-520272470

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-19 10:07] derolf opened #47 "For discussion: Lists and hashCode/operator=="
In Dart, `List`s don't do deep hashCode or operator==, i.e. `['a'].hashCode != ['a'].hashCode` and `['a'] != ['a']`.

Should `functional_widget` detect Lists and provide deep hashCode/==?

[2019-08-19 10:35] rrousselGit commented on #47
No, probably not.
It's up to the list owner to implement such a feature – especially considering it can be costly depending on the list size.

[2019-08-19 10:37] rrousselGit commented on #47
There are a few packages that offer classes with implements `List` with a custom hashCode/==, like https://github.com/passsy/kt.dart

[2019-08-19 17:00] #47 closed

[2019-08-20 06:53] derolf commented on #43
I am not able to replicate this issue in a test. Do you know how to do that?

[2019-08-20 08:01] rrousselGit commented on #43
Wait, Voidcallback? The issue should happen for things from dart:ui only, like Color.

Voidcallback should work (although the generator will instead write `void Function()`

[2019-08-20 10:13] derolf commented on #43
I have a fix. Should work now.

[2019-08-21 10:31] #44 closed

[2019-08-21 14:23] derolf opened #50 "Include example of how to build simple hooks"
I am trying to get a hook for a `ScrollController`.

The naive approach doesn't work:

[code]

So, the question is how one can build a simple hook from a disposable that is only instantiated in the first build.

[2019-08-21 14:35] derolf commented on #50
I came up with the following solution. Is that correct?

[code]

[2019-08-21 15:00] rrousselGit commented on #50
That `DisposableHook` is built-in in two difference pieces:

[code]

[2019-08-21 15:03] derolf commented on #50
Thanks for answering even though this is the wrong repo 😂😂😂

[2019-08-26 05:50] modulovalue opened #51 "suppress always_put_required_named_parameters_first"
There's a lint called [always_put_required_named_parameters_first](https://dart-lang.github.io/linter/lints/always_put_required_named_parameters_first.html).

Could you possibly add an `// ignore_for_file: always_put_required_named_parameters_first` to the generated files?

[2019-09-03 09:21] MahdiPishguy opened #52 "error: The getter '_ticketNumber' isn't defined for the class 'FunctionalWidget'."
[code]

[2019-09-03 09:26] MahdiPishguy opened #53 "buiding incorrect class with @widget annotation"
i think this code:
[code]

should be build this class:

[code]

but i have:

[code]

[2019-09-03 10:05] rrousselGit commented on #53
Why is that wrong? The behavior is strictly the same

[2019-09-03 10:09] rrousselGit commented on #52
[code]

or:

[code]

[2019-09-03 10:09] #52 closed

[2019-09-03 10:17] MahdiPishguy commented on #53
@rrousselGit because of in the library sample code i see another implemented code on `.g.dart`

[2019-09-03 10:21] rrousselGit commented on #53
[That example](https://github.com/rrousselGit/functional_widget/blob/master/functional_widget/example/lib/main.g.dart)?

The extra code is not the content of the build method, but an implementation of debugFillProperties, hashCode, and ==

[2019-09-03 10:31] MahdiPishguy commented on #53
@rrousselGit i think yes, maybe i mistake

[2019-09-03 10:32] rrousselGit commented on #53
No problem 😄

I'll close the issue for now. Feel free to reopen it if you feel that there's truly an issue

[2019-09-03 10:32] #53 closed

[2019-09-03 12:38] MahdiPishguy commented on #53
@rrousselGit i don't know why `build` command in terminal don't make `.g.dart` class ???

[2019-09-03 14:53] MahdiPishguy opened #54 "Build command doesn't make .g.dart class"
this is my simple class which i want to use `@fn.widget` in that, but after 3 hours that i try to make class for building widget as class i can't.

**i don't get any error**

[code]

and this is build output in console:

[code]

[2019-09-03 14:55] rrousselGit commented on #54
I'll investigate and see why there's no log in the console.

In the mean time, consider the other solution (`@swidget`), it'll likely work

[2019-09-03 14:59] MahdiPishguy commented on #54
@rrousselGit

also `swidget` it doesn't work, :(

[code]

[2019-09-03 15:01] rrousselGit commented on #54
Oh wait, you used it as a method of  `_ActivityShowPostContentState`. That's not good, it must be a top level function.

[2019-09-03 15:03] MahdiPishguy commented on #54
@rrousselGit you  right, fixed, i'm so sorry

[2019-09-03 15:03] #54 closed

[2019-10-03 19:49] GregorySech opened #55 "Generating build_script fails in Flutter channel Dev (1.10.7)"
## Steps to Reproduce

1. Create a new application with the default template `flutter create example`
2. Add functional_widget and functional_widget_annotation to pubspec.yaml
[code]
3. Run the application. It will fail with: `Error generating build_script snapshot: Could not find a file named "pubspec.yaml" in "/Users/gregorysech/.pub-cache/hosted/pub.dartlang.org/functional_widget-0.7.1".
`

##

[2019-10-04 11:55] nikita-voi commented on #55
1.10.10 (latest) - same issue.

[2019-10-04 12:03] rrousselGit commented on #55
Consider reporting this to Flutter repo. The package cannot do much about it, it's an exception from Flutter's tooling

[2019-10-04 13:07] GregorySech commented on #55
Thank you, I just wanted to make sure. I'll post it after work, should I keep this open?

[2019-10-05 13:40] #50 closed

[2019-10-20 22:02] spiralni commented on #18
Is this going to be ready any soon? I am unable to use this library because I use default params for every widget i build.

[2019-10-21 02:00] rrousselGit commented on #18
No. But you can use the `?? ` operator in the mean time

[2019-10-21 13:08] cubuspl42 commented on #40
@rrousselGit I couldn't find any documentation on the "builders" key in the Dart/Flutter documentation. I had no luck with `flutter generate`, either. Is this an experimental feature without any stability guarantees? How did you learn about it?

[2019-10-21 13:14] cubuspl42 commented on #40
There is hardly any or no documentation for these features ("builders" / `flutter generate`. Are they considered stable?
I found this: https://github.com/flutter/flutter/wiki/Code-generation-in-Flutter

[2019-10-21 13:20] rrousselGit commented on #40
`build.yaml` is another secondary file (which is optional and mentioned in this README here https://github.com/rrousselGit/functional_widget#customize-the-output).

[2019-10-21 13:20] rrousselGit commented on #40
They are stable (since they are literally on the `stable` channel).
But yeah, they aren't very well documented.

[2019-10-21 13:29] cubuspl42 commented on #40
https://github.com/flutter/flutter/issues/43176

[2019-10-22 01:39] hmayer00 commented on #52
@rrousselGit Thanks, that fixed the same problem for me. Just curious, why is that necessary in this case? Is that true whenever the context is a StatefulWidget? And now I'm wondering whether I should just always use `@fn.widget`, or if there's a downside other than the extra characters?

[2019-10-22 08:31] cubuspl42 commented on #43
Any progress on this one? It's a blocker for me...

[2019-10-22 11:21] rrousselGit commented on #43
No. You can make a PR if you need to.

[2019-10-22 15:17] spiralni commented on #18
Hey, thanks for the tip!! I will use right away.

[2019-10-23 20:18] liri2006 commented on #43
I'm getting same issue for basically any custom type defined outside of file with widget.

[2019-10-23 20:59] derolf commented on #43
You might want to revamp https://github.com/rrousselGit/functional_widget/pull/48

[2019-11-15 15:06] PiN73 opened #56 "Code not generated when using builder"
According to [Install (builder) in readme](https://github.com/rrousselGit/functional_widget/blob/2ca3c7e6d83b97691b0c9f35518c8b1db44c9071/README.md#install-builder), I added dependencies in pubspec.yaml
[code]

and made a simple widget
[code]

However when I add `Foo(42)` in my code and try to run it, it doesn't work
[code]

[`flutter build apk` log](https://gist.github.com/PiN73/ffe65a71cc7a75a15

[2019-11-15 15:45] rrousselGit commented on #56
You are missing the `part 'foo.g.dart';`  on the top of your file

[2019-11-15 16:33] PiN73 commented on #56
Thanks, adding `part 'foo.g.dart';` solved the problem. I think it's worth adding to readme. Here is a pull request #57

[2019-11-15 16:35] #56 closed

[2019-12-27 13:16] Aidanvii7 opened #58 "Extensions on BuildContext causes issues with generated widgets"
### Steps to reproduce
1. Create a new application with the default template flutter create example
2. Add functional_widget and functional_widget_annotation to pubspec.yaml
3. Ensure SDK is at least 2.6.0 to make use of extension methods
[code]
4. Create an extension on `BuildContext` (no actual extension methods are required):
[code]
5. Create a functional widget that recieves it's `BuildContext

[2019-12-27 13:22] rrousselGit commented on #58
Is this still happening if you give a name to your extension?

[2019-12-27 13:25] Aidanvii7 commented on #58
It is yea, I tried with a named extension first.

[2019-12-27 16:12] Aidanvii7 commented on #58
There is a workaround. It generates widgets correctly if the extensions library is imported with a name.

[2020-01-10 20:23] liri2006 commented on #43
@rrousselGit Can you take a look at PR @derolf submitted when you have a minute? This lib is awesome and it would be great to get this issue fixed.

[2020-01-20 12:27] fzyzcjy opened #59 "Use `Dill` to eliminate the need of generated code?"
We know that we can use kernel-to-kernel transformation to change the `dill` (dart intermediate language). There is already some libraries, such as https://github.com/alibaba-flutter/aspectd, which uses this to modify the code during compilation. Therefore, I think we can do the same thing to transform the `functional_widget`s. :)

P.S. [This article](https://mp.weixin.qq.com/s?__biz=MzU4MDUxOTI5N

[2020-01-20 12:42] rrousselGit commented on #59
I'm not familiar with it (nor do I understand Chinese)

Do you mind expanding a bit more on how that would work?

[2020-01-20 14:01] fzyzcjy commented on #59
It is a bit like *macros* in other languages, and I will try to explain more when having time.

[2020-02-14 08:33] #59 closed

[2020-02-14 08:40] fzyzcjy opened #60 "Upgrating `analyzer` version"
The `mobx.dart` requires `analyzer: '>=0.38.5 <0.40.0'`, while this package forces to be lower. Thus, the two cannot be installed without conflict. So I update the version. In addition, there is a bug when updating it, so I also fix two little lines.

[2020-02-19 23:27] #60 closed

[2020-02-25 04:25] xiaozhizhong opened #63 "Generating build_script fails in Flutter 1.12.13"
I guess this issue is same with https://github.com/rrousselGit/functional_widget/issues/55#issue-502262720,
but my sdk is stable channel v1.12.13+hotfix.8

try with:
functional_widget_annotation: ^0.5.1
functional_widget: ^0.7.2

when i run the app, error occurs.
the output is:
`generating build script...                                         31.9s
Exception: Error generating build_script snapsh

[2020-02-25 10:38] PavelPZ opened #64 "Cannot run "flutter pub pub run build_runner watch" on Flutter dev channel"
I am using **functional_widget** for a long time (on both dev and master flutter dev channels).

After upgrading flutter dev channel last week, ```functional_widget-0.7.2``` stops working (0.7.1 works well):

[code]

[2020-03-05 16:45] juancastillo0 commented on #63
I have the same problem and I'm using https://github.com/Milad-Akarie/auto_route_library/tree/master/auto_route_generator which requires analyzer ">=0.39.0".

analyzer changelog: https://github.com/dart-lang/sdk/blob/stable/pkg/analyzer/CHANGELOG.md

- 0.36.1: Deprecated DartType.isUndefined, and now it always returns false.

- 0.37.0: Removed deprecated getter DartType.isUndefined.

Is it the sam

[2020-03-21 18:20] rrousselGit commented on #63
Sorry for the delay, I'll fix this today

[2020-03-21 18:51] rrousselGit commented on #63
Sorry for the delay

It doesn't seem so.
The workaround to parse `Color` & co no longer works because of it. I'll have to investigate more about it

[2020-03-23 03:16] rrousselGit commented on #63
Fixing it is non-trivial.
I'm in the process of rewriting the package to fix that and add support for default/values

[2020-03-23 03:17] rrousselGit commented on #58
Thinking about it, it's likely just because `functional_widget` uses an outdates `analyzer`

[2020-03-26 10:10] karianpour commented on #64
It is caused by the following line:

https://github.com/rrousselGit/functional_widget/blob/126922d259bc3f7ee18c98806b188f5eaa7ae72a/functional_widget/lib/function_to_widget_class.dart#L216

`element.type.isUndefined` is removed from analyzer 0.37.

I am looking for a workaround by overriding the dependencies.

[2020-03-26 11:20] karianpour commented on #64
I used a workaround as follow and it worked for me:

[code]

[2020-03-26 11:26] karianpour commented on #63
I used a workaround which I wrote in the other related [issue](https://github.com/rrousselGit/functional_widget/issues/64#issuecomment-604373640)

[2020-04-02 23:36] pedromassango opened #65 "Support [assert(...)]of some parameters"
Does declaring a widget as a function support parameters's assert?

Most of the times I writ my code as:

[code]

How do I write the assert so that this package can apply in the generated widget?
If I write it in the fuction it will be moved in the generated widget as well?

[2020-04-11 09:01] rrousselGit commented on #65
It is really needed?
The assert can be placed directly inside the function:

[code]

[2020-04-11 09:42] pedromassango commented on #65
My doubt is if the assert will be called since we will use the generated widget istead of the function. Yes it is needed sometimes I need to put some restrictions in the provided parameters.

[2020-04-11 09:46] rrousselGit commented on #65
The generated widget calls your function, so asserts will be called correctly

[2020-05-01 18:09] danielmahon commented on #64
The workaround isn't working for me. Can't seem to find an acceptable combination to get `functional_widget` and `flutter_hooks` to work on the flutter beta channel

[2020-05-08 17:09] truongsinh commented on #64
FYI, this problem has escalated to `stable` channel of Flutter (1.17)

[2020-05-08 17:18] rrousselGit commented on #64
I have another priority for the week

Then I'm full time on this + hooks issues

[2020-05-08 17:23] truongsinh commented on #64
I'm looking into this tos see whether I can make a PR

[2020-05-08 22:41] truongsinh commented on #64
ok, anyone want to try out my PR before @rrousselGit review my code, use this dependency declaration:

[code]

[2020-05-08 23:57] truongsinh commented on #63
See https://github.com/rrousselGit/functional_widget/issues/64#issuecomment-626050694

[2020-05-09 01:54] #55 closed

[2020-05-09 01:54] #63 closed

[2020-05-09 01:54] #64 closed

[2020-05-09 03:11] truongsinh commented on #43
with the latest version, i can no longer recreate this bug.

[code]
generates for me (excuse `HookWidget` but it should be the same anyway)
[code]

[2020-05-09 03:40] rrousselGit commented on #43
Good catch

[2020-05-09 03:40] #43 closed

[2020-05-09 03:41] rrousselGit commented on #58
This should be fixed now as `analyzer` has been upgraded

[2020-05-09 03:41] #58 closed

[2020-05-09 15:17] truongsinh commented on #18
isn't this already in the code at https://github.com/rrousselGit/functional_widget/blob/87d4b5ca494f3454f195b8975dc6834c83db9221/functional_widget/test/src/success.dart#L26 ?

[2020-05-09 15:26] rrousselGit commented on #18
No

The test case is to see what generates.
But ultimately it is never used

On Sat, May 9, 2020, 16:17 TruongSinh Tran-Nguyen <notifications@github.com>
wrote:

[2020-05-09 15:39] truongsinh commented on #18
Isn't it here in the `success_test.dart` https://github.com/rrousselGit/functional_widget/blob/87d4b5ca494f3454f195b8975dc6834c83db9221/functional_widget/test/success_test.dart#L53-L64

I think it's only missing in `diagnostic_test.dart`, but then, lots of others are missing in `diagnostic_test.dart` as well.

[2020-05-10 23:05] mhmdanas opened #68 "Builders installation guide in README.md acutally uses build_runner"
See here: https://github.com/rrousselGit/functional_widget#install-builder.

[2020-05-12 01:20] mhmdanas opened #69 "Cannot use parameter with same name as widget function"
Example:
[code]
functional_widget generates a widget class for this, but it doesn't compile because the field name in the generated class shadows the function.

I don't think it's possible to fix this issue, so perhaps the best path is to print an error in this case.

[2020-05-18 18:08] #51 closed

[2020-06-12 14:05] mhmdanas opened #70 "Add option to customize name"
Maybe something like this:
[code]

[2020-06-12 14:07] rrousselGit commented on #70
Hi!

What's the use-case? 😄

[2020-06-12 14:23] mhmdanas commented on #70
I mainly would like this feature for acronyms at the beginning of the widget's name.

[2020-06-12 14:36] rrousselGit commented on #70
I don't understand

Do you have an example?

[2020-06-13 13:37] mhmdanas commented on #70
Here's an example:
[code]

This generates a widget with the name `IoWidget`. I would want the widget to have the name `IOWidget`. It _is_ possible to use `iOWidget` as the function name, but it looks ugly.

[2020-06-13 13:38] mhmdanas commented on #70
Also, I think this would fix #42 because one can use a public widget name for a private function, but I don't like this because one will have to sync the widget name and the class name.

[2020-06-13 13:40] rrousselGit commented on #70
I see

Feel free to make a pull request 😄

[2020-06-13 13:41] mhmdanas commented on #70
I'll see if I can do it!

[2020-06-14 02:19] MostHated opened #71 "Adding functional_widget_annotation import caused calls in Stateful widget to have errors"
I am not exactly sure if it's related to #70 but as soon as I added ```import 'package:functional_widget_annotation/functional_widget_annotation.dart';``` in a stateful widget, my calls from the private class to wiget.whatEverHere threw errors throughout the entirety of the class, so I could not do anything at that point and had to remove it before I had the opportunity to test it out.

Is there a

[2020-06-14 22:45] rrousselGit commented on #71
This happens because there's an annotation called "widget" which surprisingly happens to override State.widget

To fix:

[code]

[2020-07-03 22:30] mhmdanas commented on #70
I took a stab at this and I wasn't able to do it unfortunately, and I'm a little busy. If anybody would like to fix this issue, go ahead!

[2020-07-05 18:19] lekz112 opened #72 "Version conflict due to build_config"
Hello, I am trying to start using this library, but keep getting the following error:
[code]

It seems that some dependency of `flutter_tool` pulls a fixed version of `build_runner`, which depends on an old `build_config` version.

Here is my `pubspec.yaml`:
[code]
I am using latest stable version of Flutter:
[code]

What I have already tried:
1. Using `dependency_override` for `build_runner` or `

[2020-07-05 18:20] rrousselGit commented on #72
What do you mean by this?

[2020-07-05 20:00] lekz112 commented on #72
I tried to patch Flutter SDK, by adding `build_runner: 1.9.0` to `flutter_tool`s `pubspec`. (The one in `flutter_sdk/packages/flutter_tools`).
When I did that though, it failed to build the package due to compilation errors. (Due to public API changes)

[2020-07-05 20:14] lekz112 commented on #72
Just in case, here is a reproducible sample: https://github.com/lekz112/functional_widget_sample

I did the following:
1. Create a new flutter project.
2. Add dependency to `pubspec`.
3. Add a function annotated with `@widget`.
4. Try to build.
5. Observe an error.

[2020-07-05 20:18] rrousselGit commented on #72
Raise an issue on Flutter's repository for them to support the latest version of build_runner.

Functional_widget can't do anything.

Alternatively use de_dependencies instead of builders:

[2020-07-05 21:07] lekz112 commented on #72
After some investigation I found the the problem was that `flutter_tools` is hard-coding required versions of `build_runner` and `build_daemon`.
While the version of `build_runner` was updated to 1.10.0 (Available on `dev` channel), the `build_daemon` is still very old and also breaks.
(https://github.com/flutter/flutter/commit/e88ef6d554685812e59a85cde283e59df2b72c25#diff-5038cd916608b4b30824bf5b

[2020-07-05 21:07] #72 closed

[2020-07-21 00:40] rrousselGit commented on #71
`@widget` was removed in 0.8.0

[2020-07-21 00:40] #71 closed

[2020-07-21 00:40] rrousselGit commented on #68
This installation step was removed, as deprecated

[2020-07-21 00:40] #68 closed

[2020-07-25 15:23] papmodern opened #73 "Why `builders:` solution removed?"
There was a `builders:` option which you described will generate the widgets during the flutter build itself and it was so satisfying to prevent separate building concerns.

I know you had a good reason to remove it. I just wanted to ask you to give me some information about it. @rrousselGit

[2020-07-25 15:56] rrousselGit commented on #73
The Flutter framework deprecated it

[2020-09-04 13:14] subzero911 opened #74 "Not working"
It simply does not working (nothing generates).

That's my steps:
- added `part 'checkup_results_screen.g.dart';` (not mentioned in docs but I guess it is needed)
- annotated my methods with @swidget
![image](https://user-images.githubusercontent.com/12999702/92243117-9989bf00-eec9-11ea-8c97-9847e8829e00.png)
I also tried to remove underscore and `build` word.
- it's unclear from the docs if I mus

[2020-09-04 13:54] rrousselGit commented on #74
From your screen shot, it appears that you decorated a method instead of a
top-level function

Move the decorated method outside of the class and it should work

On Fri, Sep 4, 2020, 15:14 Sergey Molchanovsky <notifications@github.com>
wrote:

[2020-09-04 14:05] subzero911 commented on #74
Yes, it actually does.
I think it's worth mentioning in the manual.
Because I broke all my head trying to understand the reason :)

[2020-09-04 14:16] rrousselGit commented on #74
I'll see if we can throw an error in that situation

[2020-09-04 14:19] subzero911 opened #75 "Name of generated widget"
How about adding the name attribute?
`@swidget(name: 'MyCoolWidget')`

Also maybe add a configurable naming rule into `build.yaml`?
I thought about it, because builder methods are most often named like: `_buildHeader()`, `_buildDataList()`
But I want to have resulting widgets like `Header()` instead of `_BuildHeader()`

[2020-10-22 08:37] PavelPZ opened #76 "Allow SingleChildStatelessWidget generation (@nwidget)"
I like both **functional_widget** and **nested** packages:

[code]

[2020-10-22 09:01] rrousselGit commented on #76
I don't mind, but what is the use-case?

[2020-10-22 09:03] rrousselGit commented on #76
Nested widgets are not very performant so it really depends on what you want to do with them.

If your goal is you make UI elements (which is the primary use-case of functional_widget), `nested` is a bad idea.

[2020-10-23 12:41] PavelPZ commented on #76
performance is important, closing...

[2020-10-23 12:41] #76 closed

[2020-10-26 11:22] Adidi opened #77 "latest build_runner not working"
When i try to install the packages i get this:
![image](https://user-images.githubusercontent.com/1063328/97166519-0d3f9e00-178e-11eb-9db7-cd0dd79e3ad5.png)

Is there any plan soon to upgrade `analyzer` i see it on version ` ^0.39.8` on functional_widget pubspec.yaml

Thanks

[2020-10-27 12:15] karianpour commented on #77
Any answer? @Adidi did you find a work around?

[2020-10-27 15:03] Adidi commented on #77
@karianpour  `build_runner: ^1.10.2` version is working.
its only the latest - I guess its not that crucial and I am sure  @rrousselGit will update dependencies soon

[2020-11-24 16:49] Adidi opened #80 "How to mimic class initialization in functional widget"
lets say in some class i need to init something in the constructor:
[code]

what is the correct way to achive it using functional widget - is this correct:
[code]

I know there is `usePageController` but for the sake of it - what if i need to initialize something ? or write a callback inside the functional widget - is this cause performance issues when build trigger ?
Cause in class functions and

[2020-11-25 06:26] rrousselGit commented on #80
There are numerous hooks with various way to initialize state, like useMemoized, and useEffect

[2020-11-25 06:26] #80 closed

[2020-11-25 12:27] harkairt opened #81 "Is it possible to jump to the functional widget declaration instead of the generated widget when ctrl+clicking the generated widget?"
I like this lib, but the code navigation is considerably hindered, for which I haven't found a documented solution.
Lets say I have a widget
[code]
which is somewhere used as `MyWidget`. If I want to jump to this widget with ctrl+click the IDE navigates to the generated file, which makes sense obviously, but still unwanted in this scenario.

Thanks

[2020-11-25 12:42] rrousselGit commented on #81
Sadly not at the moment

[2020-12-13 06:09] rrousselGit commented on #81
Closing since there's nothing I can do here

[2020-12-13 06:09] #81 closed

[2020-12-13 06:11] #73 closed

[2020-12-13 06:12] rrousselGit commented on #65
Closing since I believe supporting asserts on the constructor when we can place asserts inside the function has a low benefit

I'm open to pull-requests though

[2020-12-13 06:12] #65 closed

[2020-12-13 06:35] rrousselGit commented on #77
Sorry for the delay

This should be fixed in 0.8.1

[2020-12-13 06:35] #77 closed

[2020-12-13 06:36] rrousselGit commented on #75
Duplicate of #70

[2020-12-13 06:36] #75 closed

[2020-12-16 23:41] salvaterra opened #83 ""BuildContext context" issue if not first param"
Generated code creates a new variable if "BuildContext context" is not the 1st parameter, but instead 2nd or 3rd etc. I assume this is not expected, if so we should maybe document it.

[2020-12-16 23:49] rrousselGit commented on #83
This is expected

functional_widget injects the context only to the first _positional_ param

See https://github.com/rrousselGit/functional_widget#all-the-potential-function-prototypes

[2020-12-16 23:49] #83 closed

[2020-12-17 00:01] salvaterra commented on #83
Got it, thank you, my bad. Maybe as a suggestion reword this sentence a bit "You can then add however many arguments you like after the previously defined arguments."

[2020-12-21 09:40] Michael35699 opened #84 "Null safety"
Would this generator support null safety soon?

[2020-12-21 10:20] rrousselGit commented on #84
It's not in my priority list.

You can raise a PR if you need it soon

[2021-03-06 00:46] tim-smart commented on #84
I have started working on something here: https://github.com/tim-smart/functional_widget/tree/null-safety

Got it working for one of my projects, but might need a bit more polish (and some more tests).

[2021-03-06 18:16] rrousselGit commented on #84
Thanks! Feel free to open a PR. I'll gladly review it

[2021-03-14 11:23] rrousselGit commented on #84
Released as part of 0.9.0

[2021-03-14 11:23] #84 closed

[2021-03-25 15:39] rrousselGit commented on #18
Ah you're right, it appears I implemented it as part of 0.7.x and just forgot :facepalm:

Closing this then, unless there's something missing?

[2021-03-25 15:39] #18 closed

[2021-04-12 16:02] blackshot opened #88 "Cannot generate widgets"
**Describe the bug**
the generator outputs:
[code]

it seems that is throwing this error, but i don't see why.
https://github.com/rrousselGit/functional_widget/blob/4ffbf96c4298531e570f42881b1b680f24f47d47/packages/functional_widget/lib/function_to_widget_class.dart#L61-L70

**To Reproduce**
I don't know, i just wrote the functional widget as the documentation says but the generator doesn't work

[2021-04-14 10:13] satvikpendem opened #89 "Key? can't be assigned to the parameter type Key"
**Describe the bug**
The key in the generated code is throwing an error due to it being nullable even though it is specified as required. It seems that `key` is not actually the same key as in the parameters in the generated class.

Error in generated code is

[code]

**To Reproduce**

[code]

Generated `main.g.dart`

[code]

**Expected behavior**
The generated code should not have any errors in i

[2021-04-19 04:26] blackshot commented on #88
I just solved it changing `flutter create`'s default sdk environment from
[code]
to
[code]
As shown in the example from 'functional_widget package.
This error is not documented and i don't understand why happened so i cannot document it. it would be nice if @rrousselGit could do it.

[2021-05-28 13:04] liri2006 opened #90 "Reasoning behind equality generation deletion"
I'm curious, why functional_widget no longer generates the equal operation overloads (that was, in my opinion, a quite a neat benefit to usage of swidget)?

[2021-05-28 16:58] rrousselGit commented on #90
This behavior was deprecated. Overriding == on widgets is now disrecommended

[2021-05-28 17:05] liri2006 commented on #90
@rrousselGit Thanks, but do you maybe know why?

[2021-06-30 09:58] rrousselGit commented on #88
Sorry for the late reply

Honestly I don't quite know how you ended up with this error. It may have been caused by a bugged version of a transitive dependency

[2021-07-27 19:31] mhmdanas opened #93 "Can't currently have `functional_widget` and `freezed` both installed at the same time"
**Describe the bug**
I can't have the latest version of `functional_widget` and `freezed` installed at the same time.

**To Reproduce**

Just try to have both `functional_widget: 0.9.0+2` and `freezed: 0.14.3` installed at the same time.

**Expected behavior**
I expect it to work.

**Actual behavior**
[code]

**Workarounds**
Using `freezed: 0.14.2` works.

**Note**: I reported this here because `f

[2021-07-27 19:32] mhmdanas commented on #89
Just curious, what's the purpose of having a `Key` parameter?

[2021-08-19 15:00] adrianjagielak commented on #93
You can add dependency overrides to your `pubspec.yaml` like that:

[code]

[2021-09-16 21:05] #89 closed

[2021-09-30 18:06] mhmdanas commented on #70
In retrospect, this doesn't look that necessary to me anymore. I _did_ say that

but honestly, that doesn't seem like a strong enough reason to add this.

[2021-11-28 13:33] rrousselGit commented on #93
This was apparently fixed but not closed, so I'll close it

[2021-11-28 13:33] #93 closed

[2022-01-21 16:50] hxse commented on #88
I tested the same code, there is no way to run.
![image](https://user-images.githubusercontent.com/22582226/150567035-259ea74a-85c2-4cea-8968-397db594dcb8.png)

[2022-01-21 18:02] hxse opened #100 "build_runner watch can not run"
**Describe the bug**
[code]

**To Reproduce**
1. flutter create .
2. add following code in main.dart
3. flutter pub  run build_runner watch
[code]
my pubspec.yaml
[code]
**Expected behavior**
I just run the example code, I hope to run normally.

[2022-01-25 13:35] hxse commented on #100
`mputer\program\flutter\flutter_desktop_demo> flutter pub
outdated --mode=null-safety`
According to command(null-safety) upgrade package solves the problem

[2022-01-25 13:35] #100 closed

[2022-03-02 11:48] blackshot commented on #88
thats weird because i ran it just changing the sdk version.

[2022-04-06 14:12] coyksdev opened #101 "How to declare static properties"
Is there a way to achieve this using functional widget?

[code]

[2022-04-06 21:46] chientrm commented on #101
[code]

[code]

[2022-04-07 17:19] MassimoTambu opened #102 "Functional Widget VS Code Extension"
Hello,

I was thinking about creating a VS Code extension to refactor **Stateless Widgets** into **Functional Widgets** with some quick action.
Also I could add extract functionality similar to "Extract Widget" from Flutter extension (obviously I should add another step to choose between @swidget | @hwidget | @hcwidget | @cwidget).

Do you think it could be useful?

[2022-04-08 16:49] chientrm commented on #102
Imo just put everything into @hcwidget then no need to care about which widget to use anymore.

[2022-04-16 06:13] rrousselGit commented on #101
Defining static properties is not supported and likely isn't something that can be supported.

I'd suggest waiting until Dart implements static extensions, at which point you should be able to define them on your own. In the meantime, you likely can implement your code without relying on a static function

[2022-04-16 06:13] #101 closed

[2022-04-16 06:50] rrousselGit commented on #90
Because the performance benefits aren't so clear

And it's easy to end-up with an inefficient == and end-up comparing the entire widget tree.

[2022-04-16 06:50] #90 closed

[2022-04-16 06:52] rrousselGit commented on #88
I'll close this since it was resolved

[2022-04-16 06:52] #88 closed

[2022-04-16 06:52] #70 closed

[2022-04-16 06:53] rrousselGit commented on #102
Sure, feel free to make one. I don't plan on making one myself.

[2022-04-16 06:53] #102 closed

[2022-04-16 06:54] rrousselGit commented on #42
The generated class name is now the function name, with the first `_` removed

So:
- fn => Fn
- _fn => Fn
- __fn => _Fn

This should cover this use-case

[2022-04-16 06:54] #42 closed

[2022-04-16 06:54] rrousselGit commented on #14
I don't plan on working on this for now.

[2022-04-16 06:54] #14 closed

[2022-04-17 11:24] avalanche-tm commented on #102
Idea is great but I think another issue requires more attention. When you press 'go to definition', you should end up on function instead on class in generated file. I think this is the most painful part of the whole story. I would really like to see that resolved.

[2022-04-17 11:29] rrousselGit commented on #102
I'm working on a solution for this already. Don't worry about it.

[2022-05-04 16:37] yuhao-nyc opened #103 "@cwidget not generating ConsumerWidget as expected"
**Describe the bug**
updating `@swidget` to `@cwidget` to generate a ConsumerWidget instead of StatelessWidget.

The build_runner is not generating for me for some reason. It's still StatelessWidget. Try to delete the `g.dart` file still getting the same StatelessWidget.

`flutter_riverpod: ^0.14.0+3`
`functional_widget_annotation: ^0.9.0`
`functional_widget: ^0.9.0+1`
 in my local

**To Reproduce

[2022-05-05 12:49] Jstuff36 opened #104 "Does this work with hot reload?"
Hi, fantastic package and documentation!

I'm considering making a proposal to my team that we start using this package, but I'm wondering if it works with hot reload? The loss of developer productivity from not having hot reload will definitely make the argument more nuanced.

Thanks

[2022-05-05 13:22] rrousselGit commented on #104
It sure does. Why wouldn't it? 😄

[2022-05-05 13:22] #104 closed

[2022-05-24 23:42] fior-di-latte commented on #103
I can confirm the bug. @cwidget is not working, in the the corresponding generated _g.dart_-file the created Widget inherits from Stateless Widget instead of ConsumerWidget.

[2022-07-11 20:40] avalanche-tm commented on #102
Hey, any update on this feature?

[2022-07-12 06:57] rrousselGit commented on #102
Yes https://twitter.com/invertaseio/status/1544344104464687107

[2022-07-12 09:02] rrousselGit commented on #102
Fixes are already implemented actually

What would code actions be?

[2022-07-12 09:15] avalanche-tm commented on #102
Cool stuff! But I can't see how this helps with functional_widget 'go to definition' issue when you end up in class instead in function. Is it possible to override that behaviour with this package? If so is it going to be included in functional_widget package?

[2022-07-12 09:21] rrousselGit commented on #102
custom_lint can change this, yes. Although it needs a PR to the dart analyzer to fix an issue

[2022-07-12 10:45] MassimoTambu commented on #102
[Code actions](https://code.visualstudio.com/docs/editor/refactoring#_code-actions-quick-fixes-and-refactorings) are VS Code options that allows you to fix or refactor something. It's just the term the VS Code documentation uses to classify them.
Existing Dart code actions are implemented directly in the Dart analysis server, but they can also be implemented with analyzer plugins.

Having said tha

[2022-07-12 10:52] rrousselGit commented on #102
I haven't started, no

[2022-07-13 00:49] itaispector commented on #103
Just to add that for me, no matter what annotation, build runner always generates a Stateless Widget.
`  functional_widget_annotation: ^0.10.0
functional_widget: ^0.10.0
`

[2022-07-13 07:30] MassimoTambu commented on #102
Which PR are you referring to?

[2022-10-21 08:41] davidpanic opened #107 "Incompatible with the latest dart_code_metrics due to outdated analyzer dependency"
**Describe the bug**

[code]

**To Reproduce**

Use the latest version of both packages.

[code]

**Expected behavior**
Expected to be able to use the latest versions without dependency_overrides.

[2022-10-21 10:00] rrousselGit commented on #107
Indeed. But I'm a bit busy with other projects at the moment. Fancy making a PR bumping analyzer and fixing the issues?

[2022-10-26 10:42] #107 closed